.container {
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: times, "Times New Roman",;
}


.login-form {
    width: 600px;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;   
    background-color: #6d76f7;
    border-radius: 5px;
}

label {
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

button {
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
}

.already-signed-in{
    width: 600px;
    justify-content: center;
    background-color: #6d76f7;
    border-radius: 5px;
}

