.Main {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;
    z-index: 2;
}
.Main .paperHolder .paper {
    background: hsla(232, 70%, 46%, 0.76);
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 1px 2px whitesmoke;
    display: flow;
    justify-content: center;
    text-align: center;
    min-width: 300px;
}
.Main .paperHolder .paper:hover {
    transform: scale(102%);
    transition: all 1s;

}

.paper img {
    filter: drop-shadow(0px 0px 10px whitesmoke);
    border-radius: 5px;
    height: 340px;
    width: 275px;

}
.paper img:active {
    transform: scale(200%);
    transition: all 800ms;
}

.infoHolder {
    display: flex;
    position: relative;
    height: 240px;
    justify-content: center;

}

.infoHolder .item1 {
    line-height: 1rem;
    font-family: Georgia, serif;


}
.infoHolder .item2 {
    font-variant: proportional-nums;


}
.infoHolder .item3 {
    margin: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;


}
.infoHolder .item3:hover {
    background-color: #b53822;


}